// All neccessary configuration parameters are defined in this file.
// Copy it to 'config.h' and make the neccessary changes there.
#define SSID "..."
#define PASSWORD "..."
#define HOSTNAME "..."

#define IR_RCV 14
#define IR_LED 4








